-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: clias_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aiconversation`
--

DROP TABLE IF EXISTS `aiconversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aiconversation` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `questionId` varchar(191) DEFAULT NULL,
  `topicId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AIConversation_studentId_topicId_idx` (`studentId`,`topicId`),
  KEY `AIConversation_questionId_fkey` (`questionId`),
  KEY `AIConversation_topicId_fkey` (`topicId`),
  CONSTRAINT `AIConversation_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `question` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `AIConversation_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `AIConversation_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aiconversation`
--

LOCK TABLES `aiconversation` WRITE;
/*!40000 ALTER TABLE `aiconversation` DISABLE KEYS */;
/*!40000 ALTER TABLE `aiconversation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aigeneratedquestion`
--

DROP TABLE IF EXISTS `aigeneratedquestion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aigeneratedquestion` (
  `id` varchar(191) NOT NULL,
  `topicId` varchar(191) NOT NULL,
  `promptQuery` text DEFAULT NULL,
  `bloomLevel` enum('REMEMBER','UNDERSTAND','APPLY','ANALYZE','EVALUATE','CREATE') NOT NULL DEFAULT 'APPLY',
  `difficulty` enum('EASY','MEDIUM','HARD') NOT NULL DEFAULT 'MEDIUM',
  `questionText` text NOT NULL,
  `explanation` text NOT NULL,
  `optionsJson` text NOT NULL,
  `status` enum('STAGED','APPROVED','REJECTED','EXPORTED') NOT NULL DEFAULT 'STAGED',
  `facultyFeedback` text DEFAULT NULL,
  `reviewedBy` varchar(191) DEFAULT NULL,
  `reviewedAt` datetime(3) DEFAULT NULL,
  `approvedQuestionId` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AIGeneratedQuestion_topicId_status_idx` (`topicId`,`status`),
  CONSTRAINT `AIGeneratedQuestion_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aigeneratedquestion`
--

LOCK TABLES `aigeneratedquestion` WRITE;
/*!40000 ALTER TABLE `aigeneratedquestion` DISABLE KEYS */;
/*!40000 ALTER TABLE `aigeneratedquestion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aimessage`
--

DROP TABLE IF EXISTS `aimessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aimessage` (
  `id` varchar(191) NOT NULL,
  `conversationId` varchar(191) NOT NULL,
  `role` enum('USER','ASSISTANT','SYSTEM') NOT NULL DEFAULT 'ASSISTANT',
  `actionType` enum('EXPLAIN_SIMPLY','REAL_WORLD_EXAMPLE','ASK_FOLLOW_UP','PRACTICE_SIMILAR','SOCRATIC_PROMPT') NOT NULL DEFAULT 'SOCRATIC_PROMPT',
  `content` text NOT NULL,
  `metadata` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `AIMessage_conversationId_idx` (`conversationId`),
  CONSTRAINT `AIMessage_conversationId_fkey` FOREIGN KEY (`conversationId`) REFERENCES `aiconversation` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aimessage`
--

LOCK TABLES `aimessage` WRITE;
/*!40000 ALTER TABLE `aimessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `aimessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessment`
--

DROP TABLE IF EXISTS `assessment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessment` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `code` varchar(191) NOT NULL,
  `courseId` varchar(191) NOT NULL,
  `facultyId` varchar(191) DEFAULT NULL,
  `type` enum('QUIZ','UNIT_TEST','MID_TERM','FINAL_EXAM') NOT NULL DEFAULT 'QUIZ',
  `status` enum('DRAFT','PUBLISHED','ACTIVE','COMPLETED','ARCHIVED') NOT NULL DEFAULT 'PUBLISHED',
  `durationMinutes` int(11) NOT NULL DEFAULT 30,
  `totalMarks` double NOT NULL DEFAULT 100,
  `passingMarks` double NOT NULL DEFAULT 40,
  `totalQuestions` int(11) NOT NULL DEFAULT 5,
  `randomizeQuestions` tinyint(1) NOT NULL DEFAULT 1,
  `allowedAttempts` int(11) NOT NULL DEFAULT 2,
  `scheduledStartTime` datetime(3) DEFAULT NULL,
  `scheduledEndTime` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `division` varchar(191) DEFAULT 'ALL',
  PRIMARY KEY (`id`),
  UNIQUE KEY `Assessment_code_key` (`code`),
  KEY `Assessment_courseId_status_idx` (`courseId`,`status`),
  KEY `Assessment_facultyId_fkey` (`facultyId`),
  CONSTRAINT `Assessment_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Assessment_facultyId_fkey` FOREIGN KEY (`facultyId`) REFERENCES `facultyprofile` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessment`
--

LOCK TABLES `assessment` WRITE;
/*!40000 ALTER TABLE `assessment` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessmentquestion`
--

DROP TABLE IF EXISTS `assessmentquestion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessmentquestion` (
  `id` varchar(191) NOT NULL,
  `assessmentId` varchar(191) NOT NULL,
  `questionId` varchar(191) NOT NULL,
  `points` double NOT NULL DEFAULT 20,
  `order` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `AssessmentQuestion_assessmentId_questionId_key` (`assessmentId`,`questionId`),
  KEY `AssessmentQuestion_assessmentId_order_idx` (`assessmentId`,`order`),
  KEY `AssessmentQuestion_questionId_fkey` (`questionId`),
  CONSTRAINT `AssessmentQuestion_assessmentId_fkey` FOREIGN KEY (`assessmentId`) REFERENCES `assessment` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `AssessmentQuestion_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `question` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessmentquestion`
--

LOCK TABLES `assessmentquestion` WRITE;
/*!40000 ALTER TABLE `assessmentquestion` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessmentquestion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessmentsubmission`
--

DROP TABLE IF EXISTS `assessmentsubmission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessmentsubmission` (
  `id` varchar(191) NOT NULL,
  `assessmentId` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `attemptNumber` int(11) NOT NULL DEFAULT 1,
  `startedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `submittedAt` datetime(3) DEFAULT NULL,
  `status` enum('IN_PROGRESS','SUBMITTED','EVALUATED') NOT NULL DEFAULT 'IN_PROGRESS',
  `totalScore` double NOT NULL DEFAULT 0,
  `percentage` double NOT NULL DEFAULT 0,
  `passed` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AssessmentSubmission_assessmentId_studentId_status_idx` (`assessmentId`,`studentId`,`status`),
  KEY `AssessmentSubmission_studentId_fkey` (`studentId`),
  CONSTRAINT `AssessmentSubmission_assessmentId_fkey` FOREIGN KEY (`assessmentId`) REFERENCES `assessment` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `AssessmentSubmission_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessmentsubmission`
--

LOCK TABLES `assessmentsubmission` WRITE;
/*!40000 ALTER TABLE `assessmentsubmission` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessmentsubmission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atriskalert`
--

DROP TABLE IF EXISTS `atriskalert`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `atriskalert` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `counsellorId` varchar(191) DEFAULT NULL,
  `severity` enum('LOW','MEDIUM','HIGH','CRITICAL') NOT NULL DEFAULT 'MEDIUM',
  `status` enum('PENDING','IN_PROGRESS','RESOLVED','DISMISSED') NOT NULL DEFAULT 'PENDING',
  `triggerReason` text NOT NULL,
  `suggestedIntervention` text NOT NULL,
  `actionNotes` text DEFAULT NULL,
  `resolvedAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AtRiskAlert_studentId_severity_status_idx` (`studentId`,`severity`,`status`),
  CONSTRAINT `AtRiskAlert_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atriskalert`
--

LOCK TABLES `atriskalert` WRITE;
/*!40000 ALTER TABLE `atriskalert` DISABLE KEYS */;
/*!40000 ALTER TABLE `atriskalert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authorizedstudent`
--

DROP TABLE IF EXISTS `authorizedstudent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `authorizedstudent` (
  `id` varchar(191) NOT NULL,
  `enrollmentNumber` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `institute` varchar(191) NOT NULL,
  `department` varchar(191) NOT NULL,
  `programId` varchar(191) DEFAULT NULL,
  `programName` varchar(191) NOT NULL,
  `semester` int(11) NOT NULL,
  `division` varchar(191) NOT NULL,
  `graduationYear` int(11) NOT NULL,
  `importedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `activated` tinyint(1) NOT NULL DEFAULT 0,
  `userId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `AuthorizedStudent_enrollmentNumber_key` (`enrollmentNumber`),
  UNIQUE KEY `AuthorizedStudent_email_key` (`email`),
  UNIQUE KEY `AuthorizedStudent_userId_key` (`userId`),
  KEY `AuthorizedStudent_email_idx` (`email`),
  KEY `AuthorizedStudent_enrollmentNumber_idx` (`enrollmentNumber`),
  KEY `AuthorizedStudent_programId_fkey` (`programId`),
  CONSTRAINT `AuthorizedStudent_programId_fkey` FOREIGN KEY (`programId`) REFERENCES `program` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `AuthorizedStudent_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authorizedstudent`
--

LOCK TABLES `authorizedstudent` WRITE;
/*!40000 ALTER TABLE `authorizedstudent` DISABLE KEYS */;
/*!40000 ALTER TABLE `authorizedstudent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `careerrolebenchmark`
--

DROP TABLE IF EXISTS `careerrolebenchmark`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `careerrolebenchmark` (
  `id` varchar(191) NOT NULL,
  `roleType` enum('SDE','DATA_ANALYST','ML_ENGINEER','CYBERSECURITY_ANALYST','CLOUD_DEVOPS','GATE_CS') NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `targetMastery` double NOT NULL DEFAULT 80,
  `requiredSkills` text NOT NULL,
  `salaryRange` varchar(191) DEFAULT NULL,
  `hiringPartners` varchar(191) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `CareerRoleBenchmark_roleType_key` (`roleType`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `careerrolebenchmark`
--

LOCK TABLES `careerrolebenchmark` WRITE;
/*!40000 ALTER TABLE `careerrolebenchmark` DISABLE KEYS */;
/*!40000 ALTER TABLE `careerrolebenchmark` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codesubmission`
--

DROP TABLE IF EXISTS `codesubmission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `codesubmission` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `problemId` varchar(191) NOT NULL,
  `language` enum('PYTHON','CPP','JAVA','JAVASCRIPT') NOT NULL DEFAULT 'PYTHON',
  `sourceCode` text NOT NULL,
  `status` enum('PENDING','ACCEPTED','WRONG_ANSWER','TIME_LIMIT_EXCEEDED','MEMORY_LIMIT_EXCEEDED','COMPILATION_ERROR','RUNTIME_ERROR') NOT NULL DEFAULT 'PENDING',
  `executionTimeMs` int(11) NOT NULL DEFAULT 0,
  `memoryUsedKb` int(11) NOT NULL DEFAULT 0,
  `testCasesPassed` int(11) NOT NULL DEFAULT 0,
  `totalTestCases` int(11) NOT NULL DEFAULT 0,
  `judgeDetails` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `score` double NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `CodeSubmission_studentId_problemId_idx` (`studentId`,`problemId`),
  KEY `CodeSubmission_status_idx` (`status`),
  KEY `CodeSubmission_problemId_fkey` (`problemId`),
  CONSTRAINT `CodeSubmission_problemId_fkey` FOREIGN KEY (`problemId`) REFERENCES `codingproblem` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CodeSubmission_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codesubmission`
--

LOCK TABLES `codesubmission` WRITE;
/*!40000 ALTER TABLE `codesubmission` DISABLE KEYS */;
/*!40000 ALTER TABLE `codesubmission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `codingproblem`
--

DROP TABLE IF EXISTS `codingproblem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `codingproblem` (
  `id` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `difficulty` enum('EASY','MEDIUM','HARD') NOT NULL DEFAULT 'MEDIUM',
  `starterCodes` text NOT NULL,
  `constraints` text NOT NULL,
  `hints` text DEFAULT NULL,
  `tags` varchar(191) DEFAULT NULL,
  `courseId` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `CodingProblem_slug_key` (`slug`),
  KEY `CodingProblem_difficulty_idx` (`difficulty`),
  KEY `CodingProblem_courseId_fkey` (`courseId`),
  CONSTRAINT `CodingProblem_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `codingproblem`
--

LOCK TABLES `codingproblem` WRITE;
/*!40000 ALTER TABLE `codingproblem` DISABLE KEYS */;
/*!40000 ALTER TABLE `codingproblem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `counsellorassignment`
--

DROP TABLE IF EXISTS `counsellorassignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `counsellorassignment` (
  `id` varchar(191) NOT NULL,
  `counsellorId` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `assignedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `CounsellorAssignment_counsellorId_studentId_key` (`counsellorId`,`studentId`),
  KEY `CounsellorAssignment_studentId_fkey` (`studentId`),
  CONSTRAINT `CounsellorAssignment_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `counsellorassignment`
--

LOCK TABLES `counsellorassignment` WRITE;
/*!40000 ALTER TABLE `counsellorassignment` DISABLE KEYS */;
INSERT INTO `counsellorassignment` VALUES ('05febed7-cf8e-4549-9105-84fce61ca22a','84865ce1-5872-450f-88b3-b897a47c7aef','2e7d2313-adca-49c6-b59d-3a358301eab5','2026-10-07 18:20:38.394');
/*!40000 ALTER TABLE `counsellorassignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course` (
  `id` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `departmentId` varchar(191) NOT NULL,
  `semester` int(11) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Course_code_key` (`code`),
  KEY `Course_departmentId_fkey` (`departmentId`),
  CONSTRAINT `Course_departmentId_fkey` FOREIGN KEY (`departmentId`) REFERENCES `department` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coursedocument`
--

DROP TABLE IF EXISTS `coursedocument`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `coursedocument` (
  `id` varchar(191) NOT NULL,
  `courseId` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `fileName` varchar(191) NOT NULL,
  `fileType` varchar(191) NOT NULL DEFAULT 'PDF',
  `documentType` enum('SYLLABUS','LECTURE_NOTES','PRESENTATION_SLIDES','REFERENCE_TEXT') NOT NULL DEFAULT 'LECTURE_NOTES',
  `fileSizeKb` int(11) NOT NULL DEFAULT 0,
  `rawText` longtext NOT NULL,
  `status` enum('PENDING','PROCESSING','INDEXED','FAILED') NOT NULL DEFAULT 'INDEXED',
  `chunkCount` int(11) NOT NULL DEFAULT 0,
  `uploadedBy` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `CourseDocument_courseId_documentType_idx` (`courseId`,`documentType`),
  CONSTRAINT `CourseDocument_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coursedocument`
--

LOCK TABLES `coursedocument` WRITE;
/*!40000 ALTER TABLE `coursedocument` DISABLE KEYS */;
/*!40000 ALTER TABLE `coursedocument` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courseoutcome`
--

DROP TABLE IF EXISTS `courseoutcome`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `courseoutcome` (
  `id` varchar(191) NOT NULL,
  `courseId` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `targetAttainment` double NOT NULL DEFAULT 0.7,
  `actualAttainment` double NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `CourseOutcome_courseId_code_key` (`courseId`,`code`),
  CONSTRAINT `CourseOutcome_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courseoutcome`
--

LOCK TABLES `courseoutcome` WRITE;
/*!40000 ALTER TABLE `courseoutcome` DISABLE KEYS */;
/*!40000 ALTER TABLE `courseoutcome` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courseoutcomepo`
--

DROP TABLE IF EXISTS `courseoutcomepo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `courseoutcomepo` (
  `id` varchar(191) NOT NULL,
  `courseOutcomeId` varchar(191) NOT NULL,
  `programOutcomeId` varchar(191) NOT NULL,
  `correlationLevel` int(11) NOT NULL DEFAULT 2,
  PRIMARY KEY (`id`),
  UNIQUE KEY `CourseOutcomePO_courseOutcomeId_programOutcomeId_key` (`courseOutcomeId`,`programOutcomeId`),
  KEY `CourseOutcomePO_programOutcomeId_fkey` (`programOutcomeId`),
  CONSTRAINT `CourseOutcomePO_courseOutcomeId_fkey` FOREIGN KEY (`courseOutcomeId`) REFERENCES `courseoutcome` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `CourseOutcomePO_programOutcomeId_fkey` FOREIGN KEY (`programOutcomeId`) REFERENCES `programoutcome` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courseoutcomepo`
--

LOCK TABLES `courseoutcomepo` WRITE;
/*!40000 ALTER TABLE `courseoutcomepo` DISABLE KEYS */;
/*!40000 ALTER TABLE `courseoutcomepo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department` (
  `id` varchar(191) NOT NULL,
  `instituteId` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Department_instituteId_code_key` (`instituteId`,`code`),
  CONSTRAINT `Department_instituteId_fkey` FOREIGN KEY (`instituteId`) REFERENCES `institute` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
INSERT INTO `department` VALUES ('2aa240f7-a902-42e7-a0ca-9d1473f43e5a','ec332926-93c2-4135-a75e-d5c45a0c86d9','Computer Science and Engineering','CSE','2026-10-07 18:20:37.772','2026-10-07 18:20:37.772');
/*!40000 ALTER TABLE `department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentchunk`
--

DROP TABLE IF EXISTS `documentchunk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentchunk` (
  `id` varchar(191) NOT NULL,
  `documentId` varchar(191) NOT NULL,
  `chunkIndex` int(11) NOT NULL DEFAULT 0,
  `content` text NOT NULL,
  `tokenCount` int(11) NOT NULL DEFAULT 0,
  `vectorEmbedding` text DEFAULT NULL,
  `topicKeywords` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `DocumentChunk_documentId_chunkIndex_idx` (`documentId`,`chunkIndex`),
  CONSTRAINT `DocumentChunk_documentId_fkey` FOREIGN KEY (`documentId`) REFERENCES `coursedocument` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentchunk`
--

LOCK TABLES `documentchunk` WRITE;
/*!40000 ALTER TABLE `documentchunk` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentchunk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facultyprofile`
--

DROP TABLE IF EXISTS `facultyprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `facultyprofile` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `employeeCode` varchar(191) DEFAULT NULL,
  `departmentId` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `courseId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `FacultyProfile_userId_key` (`userId`),
  UNIQUE KEY `FacultyProfile_employeeCode_key` (`employeeCode`),
  KEY `FacultyProfile_courseId_fkey` (`courseId`),
  CONSTRAINT `FacultyProfile_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `FacultyProfile_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facultyprofile`
--

LOCK TABLES `facultyprofile` WRITE;
/*!40000 ALTER TABLE `facultyprofile` DISABLE KEYS */;
INSERT INTO `facultyprofile` VALUES ('4323b787-6d3c-4887-a3cc-4263ee425acd','a88b11a2-9f33-488a-92c4-4830016de097','EMP_CSE_042','2aa240f7-a902-42e7-a0ca-9d1473f43e5a','2026-10-07 18:20:38.319','2026-10-07 18:20:38.319',NULL);
/*!40000 ALTER TABLE `facultyprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `institute`
--

DROP TABLE IF EXISTS `institute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `institute` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Institute_code_key` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `institute`
--

LOCK TABLES `institute` WRITE;
/*!40000 ALTER TABLE `institute` DISABLE KEYS */;
INSERT INTO `institute` VALUES ('ec332926-93c2-4135-a75e-d5c45a0c86d9','Chandubhai S Patel Institute of Technology','CSPIT','2026-10-07 18:20:37.757','2026-10-07 18:20:37.757');
/*!40000 ALTER TABLE `institute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learninghistory`
--

DROP TABLE IF EXISTS `learninghistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `learninghistory` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `topicId` varchar(191) NOT NULL,
  `masteryScore` double NOT NULL,
  `recordedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `reason` enum('PRACTICE_ATTEMPT','TEST_RESULT','REASSESSMENT','MANUAL_RECALCULATION') NOT NULL DEFAULT 'PRACTICE_ATTEMPT',
  PRIMARY KEY (`id`),
  KEY `LearningHistory_studentId_recordedAt_idx` (`studentId`,`recordedAt`),
  KEY `LearningHistory_studentId_topicId_idx` (`studentId`,`topicId`),
  KEY `LearningHistory_topicId_fkey` (`topicId`),
  CONSTRAINT `LearningHistory_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `LearningHistory_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learninghistory`
--

LOCK TABLES `learninghistory` WRITE;
/*!40000 ALTER TABLE `learninghistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `learninghistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learningresource`
--

DROP TABLE IF EXISTS `learningresource`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `learningresource` (
  `id` varchar(191) NOT NULL,
  `topicId` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `resourceType` enum('LECTURE_SLIDE','VIDEO_WALKTHROUGH','REFERENCE_TEXT','CODE_SANDBOX') NOT NULL DEFAULT 'LECTURE_SLIDE',
  `url` varchar(191) NOT NULL,
  `author` varchar(191) DEFAULT NULL,
  `estimatedMinutes` int(11) NOT NULL DEFAULT 15,
  `keyConcepts` text NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `LearningResource_topicId_resourceType_idx` (`topicId`,`resourceType`),
  CONSTRAINT `LearningResource_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learningresource`
--

LOCK TABLES `learningresource` WRITE;
/*!40000 ALTER TABLE `learningresource` DISABLE KEYS */;
/*!40000 ALTER TABLE `learningresource` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `misconception`
--

DROP TABLE IF EXISTS `misconception`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `misconception` (
  `id` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `category` enum('CONCEPTUAL_CONFUSION','OFF_BY_ONE_ERROR','COMPLEXITY_MISCALCULATION','BOUNDARY_EDGE_CASE','POINTER_REFERENCE_CONFUSION','SYNTAX_SEMANTICS_OVERLOOK') NOT NULL DEFAULT 'CONCEPTUAL_CONFUSION',
  `remediationAdvice` text NOT NULL,
  `topicId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `Misconception_code_key` (`code`),
  KEY `Misconception_topicId_category_idx` (`topicId`,`category`),
  CONSTRAINT `Misconception_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `misconception`
--

LOCK TABLES `misconception` WRITE;
/*!40000 ALTER TABLE `misconception` DISABLE KEYS */;
/*!40000 ALTER TABLE `misconception` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `placementmockexam`
--

DROP TABLE IF EXISTS `placementmockexam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `placementmockexam` (
  `id` varchar(191) NOT NULL,
  `roleType` enum('SDE','DATA_ANALYST','ML_ENGINEER','CYBERSECURITY_ANALYST','CLOUD_DEVOPS','GATE_CS') NOT NULL DEFAULT 'SDE',
  `companyProfile` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `totalQuestions` int(11) NOT NULL DEFAULT 10,
  `durationMinutes` int(11) NOT NULL DEFAULT 45,
  `passingScore` double NOT NULL DEFAULT 70,
  `difficulty` enum('EASY','MEDIUM','HARD') NOT NULL DEFAULT 'HARD',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `placementmockexam`
--

LOCK TABLES `placementmockexam` WRITE;
/*!40000 ALTER TABLE `placementmockexam` DISABLE KEYS */;
INSERT INTO `placementmockexam` VALUES ('28b1a873-d501-4d20-aaa7-17c19f5450f8','SDE','Google Tier-1 Algorithmic Simulation','Google SDE Campus Hiring Simulation: Invariants & Complexity','Realistic 45-minute timed technical screening with multi-case algorithmic complexity verification.',5,45,75,'HARD','2026-10-07 18:20:38.767');
/*!40000 ALTER TABLE `placementmockexam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plagiarismmatch`
--

DROP TABLE IF EXISTS `plagiarismmatch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plagiarismmatch` (
  `id` varchar(191) NOT NULL,
  `scanId` varchar(191) NOT NULL,
  `submissionAId` varchar(191) NOT NULL,
  `submissionBId` varchar(191) NOT NULL,
  `similarityScore` double NOT NULL DEFAULT 0,
  `matchedTokensCount` int(11) NOT NULL DEFAULT 0,
  `fingerprintOverlap` text DEFAULT NULL,
  `verdict` enum('SUSPICIOUS','FLAGGED','CLEARED','PENALIZED') NOT NULL DEFAULT 'SUSPICIOUS',
  `facultyNotes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `PlagiarismMatch_scanId_similarityScore_idx` (`scanId`,`similarityScore`),
  KEY `PlagiarismMatch_submissionAId_fkey` (`submissionAId`),
  KEY `PlagiarismMatch_submissionBId_fkey` (`submissionBId`),
  CONSTRAINT `PlagiarismMatch_scanId_fkey` FOREIGN KEY (`scanId`) REFERENCES `plagiarismscan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `PlagiarismMatch_submissionAId_fkey` FOREIGN KEY (`submissionAId`) REFERENCES `codesubmission` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `PlagiarismMatch_submissionBId_fkey` FOREIGN KEY (`submissionBId`) REFERENCES `codesubmission` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plagiarismmatch`
--

LOCK TABLES `plagiarismmatch` WRITE;
/*!40000 ALTER TABLE `plagiarismmatch` DISABLE KEYS */;
/*!40000 ALTER TABLE `plagiarismmatch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plagiarismscan`
--

DROP TABLE IF EXISTS `plagiarismscan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plagiarismscan` (
  `id` varchar(191) NOT NULL,
  `problemId` varchar(191) NOT NULL,
  `facultyId` varchar(191) DEFAULT NULL,
  `status` enum('PENDING','SCANNING','COMPLETED','FAILED') NOT NULL DEFAULT 'COMPLETED',
  `threshold` double NOT NULL DEFAULT 70,
  `totalSubmissionsScanned` int(11) NOT NULL DEFAULT 0,
  `flaggedPairsCount` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `PlagiarismScan_problemId_idx` (`problemId`),
  CONSTRAINT `PlagiarismScan_problemId_fkey` FOREIGN KEY (`problemId`) REFERENCES `codingproblem` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plagiarismscan`
--

LOCK TABLES `plagiarismscan` WRITE;
/*!40000 ALTER TABLE `plagiarismscan` DISABLE KEYS */;
/*!40000 ALTER TABLE `plagiarismscan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practicesession`
--

DROP TABLE IF EXISTS `practicesession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `practicesession` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `courseId` varchar(191) NOT NULL,
  `topicId` varchar(191) DEFAULT NULL,
  `difficulty` enum('EASY','MEDIUM','HARD') DEFAULT NULL,
  `startedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `completedAt` datetime(3) DEFAULT NULL,
  `questionsAttempted` int(11) NOT NULL DEFAULT 0,
  `correctAnswers` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `PracticeSession_studentId_courseId_idx` (`studentId`,`courseId`),
  KEY `PracticeSession_courseId_fkey` (`courseId`),
  CONSTRAINT `PracticeSession_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `PracticeSession_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practicesession`
--

LOCK TABLES `practicesession` WRITE;
/*!40000 ALTER TABLE `practicesession` DISABLE KEYS */;
/*!40000 ALTER TABLE `practicesession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proctoringsession`
--

DROP TABLE IF EXISTS `proctoringsession`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proctoringsession` (
  `id` varchar(191) NOT NULL,
  `submissionId` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `status` enum('ENROLLED','IN_PROGRESS','COMPLETED','FLAGGED','INVALIDATED') NOT NULL DEFAULT 'IN_PROGRESS',
  `faceEnrollmentVerified` tinyint(1) NOT NULL DEFAULT 0,
  `enrolledAt` datetime(3) DEFAULT NULL,
  `startedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `completedAt` datetime(3) DEFAULT NULL,
  `trustScore` double NOT NULL DEFAULT 100,
  `violationsCount` int(11) NOT NULL DEFAULT 0,
  `invigilatorNotes` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ProctoringSession_submissionId_key` (`submissionId`),
  KEY `ProctoringSession_studentId_status_idx` (`studentId`,`status`),
  CONSTRAINT `ProctoringSession_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `ProctoringSession_submissionId_fkey` FOREIGN KEY (`submissionId`) REFERENCES `assessmentsubmission` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proctoringsession`
--

LOCK TABLES `proctoringsession` WRITE;
/*!40000 ALTER TABLE `proctoringsession` DISABLE KEYS */;
/*!40000 ALTER TABLE `proctoringsession` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proctoringviolation`
--

DROP TABLE IF EXISTS `proctoringviolation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proctoringviolation` (
  `id` varchar(191) NOT NULL,
  `sessionId` varchar(191) NOT NULL,
  `type` enum('TAB_SWITCH','WINDOW_BLUR','FULLSCREEN_EXIT','NO_FACE','MULTIPLE_FACES','IDENTITY_MISMATCH','CAMERA_DISABLED','AUDIO_ANOMALY') NOT NULL,
  `severity` enum('LOW','MEDIUM','HIGH','SEVERE') NOT NULL DEFAULT 'MEDIUM',
  `confidence` double NOT NULL DEFAULT 0.95,
  `timestamp` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `details` text DEFAULT NULL,
  `resolved` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `ProctoringViolation_sessionId_type_severity_idx` (`sessionId`,`type`,`severity`),
  CONSTRAINT `ProctoringViolation_sessionId_fkey` FOREIGN KEY (`sessionId`) REFERENCES `proctoringsession` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proctoringviolation`
--

LOCK TABLES `proctoringviolation` WRITE;
/*!40000 ALTER TABLE `proctoringviolation` DISABLE KEYS */;
/*!40000 ALTER TABLE `proctoringviolation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `program`
--

DROP TABLE IF EXISTS `program`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `program` (
  `id` varchar(191) NOT NULL,
  `departmentId` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Program_departmentId_code_key` (`departmentId`,`code`),
  CONSTRAINT `Program_departmentId_fkey` FOREIGN KEY (`departmentId`) REFERENCES `department` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `program`
--

LOCK TABLES `program` WRITE;
/*!40000 ALTER TABLE `program` DISABLE KEYS */;
INSERT INTO `program` VALUES ('2689a103-68a7-4a16-9470-5dff95a9fdca','2aa240f7-a902-42e7-a0ca-9d1473f43e5a','Bachelor of Technology in Computer Science & Engineering','BTECH_CSE','2026-10-07 18:20:37.778','2026-10-07 18:20:37.778');
/*!40000 ALTER TABLE `program` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programoutcome`
--

DROP TABLE IF EXISTS `programoutcome`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `programoutcome` (
  `id` varchar(191) NOT NULL,
  `departmentId` varchar(191) NOT NULL,
  `code` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `nbaCategory` varchar(191) NOT NULL DEFAULT 'Engineering Knowledge',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ProgramOutcome_departmentId_code_key` (`departmentId`,`code`),
  CONSTRAINT `ProgramOutcome_departmentId_fkey` FOREIGN KEY (`departmentId`) REFERENCES `department` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programoutcome`
--

LOCK TABLES `programoutcome` WRITE;
/*!40000 ALTER TABLE `programoutcome` DISABLE KEYS */;
/*!40000 ALTER TABLE `programoutcome` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question`
--

DROP TABLE IF EXISTS `question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `question` (
  `id` varchar(191) NOT NULL,
  `courseId` varchar(191) NOT NULL,
  `topicId` varchar(191) NOT NULL,
  `createdBy` varchar(191) DEFAULT NULL,
  `type` enum('MCQ_SINGLE','MCQ_MULTIPLE','TRUE_FALSE','NUMERIC','SHORT_ANSWER','CODING') NOT NULL DEFAULT 'MCQ_SINGLE',
  `difficulty` enum('EASY','MEDIUM','HARD') NOT NULL DEFAULT 'MEDIUM',
  `questionText` text NOT NULL,
  `explanation` text NOT NULL,
  `sourceType` varchar(191) NOT NULL DEFAULT 'MANUAL',
  `status` enum('DRAFT','APPROVED','ARCHIVED') NOT NULL DEFAULT 'APPROVED',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Question_courseId_topicId_difficulty_idx` (`courseId`,`topicId`,`difficulty`),
  KEY `Question_topicId_fkey` (`topicId`),
  CONSTRAINT `Question_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Question_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question`
--

LOCK TABLES `question` WRITE;
/*!40000 ALTER TABLE `question` DISABLE KEYS */;
/*!40000 ALTER TABLE `question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questionattempt`
--

DROP TABLE IF EXISTS `questionattempt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `questionattempt` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `questionId` varchar(191) NOT NULL,
  `practiceSessionId` varchar(191) DEFAULT NULL,
  `selectedOptionId` varchar(191) DEFAULT NULL,
  `isCorrect` tinyint(1) NOT NULL,
  `timeTakenSeconds` int(11) NOT NULL DEFAULT 0,
  `attemptNumber` int(11) NOT NULL DEFAULT 1,
  `hintUsed` tinyint(1) NOT NULL DEFAULT 0,
  `difficultyAtAttempt` enum('EASY','MEDIUM','HARD') NOT NULL DEFAULT 'MEDIUM',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `QuestionAttempt_studentId_questionId_idx` (`studentId`,`questionId`),
  KEY `QuestionAttempt_studentId_createdAt_idx` (`studentId`,`createdAt`),
  KEY `QuestionAttempt_questionId_fkey` (`questionId`),
  KEY `QuestionAttempt_practiceSessionId_fkey` (`practiceSessionId`),
  KEY `QuestionAttempt_selectedOptionId_fkey` (`selectedOptionId`),
  CONSTRAINT `QuestionAttempt_practiceSessionId_fkey` FOREIGN KEY (`practiceSessionId`) REFERENCES `practicesession` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `QuestionAttempt_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `question` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `QuestionAttempt_selectedOptionId_fkey` FOREIGN KEY (`selectedOptionId`) REFERENCES `questionoption` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `QuestionAttempt_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questionattempt`
--

LOCK TABLES `questionattempt` WRITE;
/*!40000 ALTER TABLE `questionattempt` DISABLE KEYS */;
/*!40000 ALTER TABLE `questionattempt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questioncomapping`
--

DROP TABLE IF EXISTS `questioncomapping`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `questioncomapping` (
  `id` varchar(191) NOT NULL,
  `questionId` varchar(191) NOT NULL,
  `courseOutcomeId` varchar(191) NOT NULL,
  `weight` double NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `QuestionCOMapping_questionId_courseOutcomeId_key` (`questionId`,`courseOutcomeId`),
  KEY `QuestionCOMapping_courseOutcomeId_fkey` (`courseOutcomeId`),
  CONSTRAINT `QuestionCOMapping_courseOutcomeId_fkey` FOREIGN KEY (`courseOutcomeId`) REFERENCES `courseoutcome` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `QuestionCOMapping_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `question` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questioncomapping`
--

LOCK TABLES `questioncomapping` WRITE;
/*!40000 ALTER TABLE `questioncomapping` DISABLE KEYS */;
INSERT INTO `questioncomapping` VALUES ('022c6cec-49db-43aa-9248-89f2d215b36d','af39b857-efe3-475d-992a-e387a7ac9c42','6e691097-6b88-4f94-8ea8-2c6a59a10464',1),('07d816f8-f507-4592-87ec-e9c2007ec336','862b78f1-7f68-4653-a38c-78071c05d9da','e9c25508-73f2-4721-8c3c-38cae631da3e',1),('d55980bf-e5cf-4fb9-a3a9-01c115ad1732','6db75116-a8ee-4697-bdbd-26b94f8f454d','e9c25508-73f2-4721-8c3c-38cae631da3e',1),('fcc749be-1d13-4a06-abbd-344268fec200','c4409e9b-2e1f-4858-aa87-db1e5a67dd2b','6e691097-6b88-4f94-8ea8-2c6a59a10464',1);
/*!40000 ALTER TABLE `questioncomapping` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questiondispute`
--

DROP TABLE IF EXISTS `questiondispute`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `questiondispute` (
  `id` varchar(191) NOT NULL,
  `questionId` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `practiceSessionId` varchar(191) DEFAULT NULL,
  `selectedOptionId` varchar(191) DEFAULT NULL,
  `reasonCategory` varchar(191) NOT NULL DEFAULT 'WRONG_ANSWER',
  `studentComment` text NOT NULL,
  `status` enum('PENDING','APPROVED_STUDENT_CORRECT','REJECTED_AI_CORRECT') NOT NULL DEFAULT 'PENDING',
  `facultyId` varchar(191) DEFAULT NULL,
  `facultyRemarks` text DEFAULT NULL,
  `resolvedAt` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `QuestionDispute_questionId_idx` (`questionId`),
  KEY `QuestionDispute_studentId_idx` (`studentId`),
  KEY `QuestionDispute_status_idx` (`status`),
  KEY `QuestionDispute_facultyId_fkey` (`facultyId`),
  CONSTRAINT `QuestionDispute_facultyId_fkey` FOREIGN KEY (`facultyId`) REFERENCES `facultyprofile` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `QuestionDispute_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `question` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `QuestionDispute_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questiondispute`
--

LOCK TABLES `questiondispute` WRITE;
/*!40000 ALTER TABLE `questiondispute` DISABLE KEYS */;
INSERT INTO `questiondispute` VALUES ('a1cfa565-935c-46e5-8ee4-c2a1c3d5370a','74b1c9ac-dd27-46c8-b13f-5b785e6c76f3','776f7968-6d98-4642-be75-408940db2de4','1232a1cf-10bf-40b9-a542-6aa6f389bd01','7df72a2a-44dd-4761-820d-0e7992039d67','WRONG_ANSWER','Bas meri marzi','APPROVED_STUDENT_CORRECT','4323b787-6d3c-4887-a3cc-4263ee425acd','Student claim verified and accepted.','2026-10-09 07:06:21.431','2026-10-09 04:14:43.408','2026-10-09 07:06:21.433');
/*!40000 ALTER TABLE `questiondispute` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questionoption`
--

DROP TABLE IF EXISTS `questionoption`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `questionoption` (
  `id` varchar(191) NOT NULL,
  `questionId` varchar(191) NOT NULL,
  `optionText` text NOT NULL,
  `isCorrect` tinyint(1) NOT NULL DEFAULT 0,
  `order` int(11) NOT NULL DEFAULT 0,
  `misconceptionId` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `QuestionOption_questionId_fkey` (`questionId`),
  KEY `QuestionOption_misconceptionId_fkey` (`misconceptionId`),
  CONSTRAINT `QuestionOption_misconceptionId_fkey` FOREIGN KEY (`misconceptionId`) REFERENCES `misconception` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `QuestionOption_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `question` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questionoption`
--

LOCK TABLES `questionoption` WRITE;
/*!40000 ALTER TABLE `questionoption` DISABLE KEYS */;
/*!40000 ALTER TABLE `questionoption` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skillmastery`
--

DROP TABLE IF EXISTS `skillmastery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `skillmastery` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `topicId` varchar(191) NOT NULL,
  `masteryScore` double NOT NULL DEFAULT 0,
  `attemptCount` int(11) NOT NULL DEFAULT 0,
  `correctCount` int(11) NOT NULL DEFAULT 0,
  `lastPracticedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SkillMastery_studentId_topicId_key` (`studentId`,`topicId`),
  KEY `SkillMastery_studentId_idx` (`studentId`),
  KEY `SkillMastery_topicId_fkey` (`topicId`),
  CONSTRAINT `SkillMastery_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SkillMastery_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skillmastery`
--

LOCK TABLES `skillmastery` WRITE;
/*!40000 ALTER TABLE `skillmastery` DISABLE KEYS */;
/*!40000 ALTER TABLE `skillmastery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spacedrepetitionschedule`
--

DROP TABLE IF EXISTS `spacedrepetitionschedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spacedrepetitionschedule` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `topicId` varchar(191) NOT NULL,
  `intervalDays` int(11) NOT NULL DEFAULT 1,
  `easeFactor` double NOT NULL DEFAULT 2.5,
  `repetitionNumber` int(11) NOT NULL DEFAULT 0,
  `nextReviewDate` datetime(3) NOT NULL,
  `lastReviewedDate` datetime(3) DEFAULT NULL,
  `status` enum('DUE','UPCOMING','MASTERED') NOT NULL DEFAULT 'DUE',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `SpacedRepetitionSchedule_studentId_topicId_key` (`studentId`,`topicId`),
  KEY `SpacedRepetitionSchedule_studentId_status_nextReviewDate_idx` (`studentId`,`status`,`nextReviewDate`),
  KEY `SpacedRepetitionSchedule_topicId_fkey` (`topicId`),
  CONSTRAINT `SpacedRepetitionSchedule_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SpacedRepetitionSchedule_topicId_fkey` FOREIGN KEY (`topicId`) REFERENCES `topic` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spacedrepetitionschedule`
--

LOCK TABLES `spacedrepetitionschedule` WRITE;
/*!40000 ALTER TABLE `spacedrepetitionschedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `spacedrepetitionschedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentmisconception`
--

DROP TABLE IF EXISTS `studentmisconception`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studentmisconception` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `misconceptionId` varchar(191) NOT NULL,
  `occurrenceCount` int(11) NOT NULL DEFAULT 1,
  `lastDetectedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `resolved` tinyint(1) NOT NULL DEFAULT 0,
  `resolvedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `StudentMisconception_studentId_misconceptionId_key` (`studentId`,`misconceptionId`),
  KEY `StudentMisconception_studentId_resolved_idx` (`studentId`,`resolved`),
  KEY `StudentMisconception_misconceptionId_fkey` (`misconceptionId`),
  CONSTRAINT `StudentMisconception_misconceptionId_fkey` FOREIGN KEY (`misconceptionId`) REFERENCES `misconception` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `StudentMisconception_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentmisconception`
--

LOCK TABLES `studentmisconception` WRITE;
/*!40000 ALTER TABLE `studentmisconception` DISABLE KEYS */;
INSERT INTO `studentmisconception` VALUES ('35f34f68-501a-49b5-9e2c-1b4aeacd03b9','2e7d2313-adca-49c6-b59d-3a358301eab5','057f41da-2436-43dc-9030-f586870067c0',2,'2026-10-06 22:20:38.560',0,NULL),('bd3d1d5f-6fb4-44f1-9172-d3a2dc58812f','2e7d2313-adca-49c6-b59d-3a358301eab5','0b06cda6-c991-4021-9649-db95278a871b',3,'2026-10-07 13:20:38.553',0,NULL);
/*!40000 ALTER TABLE `studentmisconception` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentnotification`
--

DROP TABLE IF EXISTS `studentnotification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studentnotification` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `message` text NOT NULL,
  `type` varchar(191) NOT NULL DEFAULT 'DISPUTE_UPDATE',
  `read` tinyint(1) NOT NULL DEFAULT 0,
  `metadata` text DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `StudentNotification_studentId_read_idx` (`studentId`,`read`),
  CONSTRAINT `StudentNotification_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentnotification`
--

LOCK TABLES `studentnotification` WRITE;
/*!40000 ALTER TABLE `studentnotification` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentnotification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentplacementprofile`
--

DROP TABLE IF EXISTS `studentplacementprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studentplacementprofile` (
  `id` varchar(191) NOT NULL,
  `studentId` varchar(191) NOT NULL,
  `targetRole` enum('SDE','DATA_ANALYST','ML_ENGINEER','CYBERSECURITY_ANALYST','CLOUD_DEVOPS','GATE_CS') NOT NULL DEFAULT 'SDE',
  `overallReadinessScore` double NOT NULL DEFAULT 0,
  `verifiedSkillsCount` int(11) NOT NULL DEFAULT 0,
  `skillGapsCount` int(11) NOT NULL DEFAULT 0,
  `lastAssessedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `StudentPlacementProfile_studentId_key` (`studentId`),
  CONSTRAINT `StudentPlacementProfile_studentId_fkey` FOREIGN KEY (`studentId`) REFERENCES `studentprofile` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentplacementprofile`
--

LOCK TABLES `studentplacementprofile` WRITE;
/*!40000 ALTER TABLE `studentplacementprofile` DISABLE KEYS */;
INSERT INTO `studentplacementprofile` VALUES ('3323688a-5e4e-4f67-b735-e3654d0d215c','776f7968-6d98-4642-be75-408940db2de4','SDE',0,0,5,'2026-10-10 08:31:39.581','2026-10-09 06:42:29.013','2026-10-10 08:31:39.582'),('7fb72172-545b-4afa-bee4-2d55366b40c4','9cf7646b-e833-4f9d-a9e4-6855ed8b5873','SDE',0,0,5,'2026-10-10 05:25:31.648','2026-10-10 05:15:12.869','2026-10-10 05:25:31.652'),('a7e0de44-e531-42c5-a493-5e911e379d9a','2e7d2313-adca-49c6-b59d-3a358301eab5','SDE',9,0,5,'2026-10-09 06:41:50.561','2026-10-07 18:20:38.761','2026-10-09 06:41:50.563');
/*!40000 ALTER TABLE `studentplacementprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentprofile`
--

DROP TABLE IF EXISTS `studentprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studentprofile` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `authorizedStudentId` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `StudentProfile_userId_key` (`userId`),
  UNIQUE KEY `StudentProfile_authorizedStudentId_key` (`authorizedStudentId`),
  CONSTRAINT `StudentProfile_authorizedStudentId_fkey` FOREIGN KEY (`authorizedStudentId`) REFERENCES `authorizedstudent` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `StudentProfile_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentprofile`
--

LOCK TABLES `studentprofile` WRITE;
/*!40000 ALTER TABLE `studentprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `submissionanswer`
--

DROP TABLE IF EXISTS `submissionanswer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `submissionanswer` (
  `id` varchar(191) NOT NULL,
  `submissionId` varchar(191) NOT NULL,
  `questionId` varchar(191) NOT NULL,
  `selectedOptionId` varchar(191) DEFAULT NULL,
  `isCorrect` tinyint(1) NOT NULL DEFAULT 0,
  `pointsAwarded` double NOT NULL DEFAULT 0,
  `timeSpentSeconds` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `SubmissionAnswer_submissionId_questionId_idx` (`submissionId`,`questionId`),
  KEY `SubmissionAnswer_questionId_fkey` (`questionId`),
  KEY `SubmissionAnswer_selectedOptionId_fkey` (`selectedOptionId`),
  CONSTRAINT `SubmissionAnswer_questionId_fkey` FOREIGN KEY (`questionId`) REFERENCES `question` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `SubmissionAnswer_selectedOptionId_fkey` FOREIGN KEY (`selectedOptionId`) REFERENCES `questionoption` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `SubmissionAnswer_submissionId_fkey` FOREIGN KEY (`submissionId`) REFERENCES `assessmentsubmission` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `submissionanswer`
--

LOCK TABLES `submissionanswer` WRITE;
/*!40000 ALTER TABLE `submissionanswer` DISABLE KEYS */;
/*!40000 ALTER TABLE `submissionanswer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `testcase`
--

DROP TABLE IF EXISTS `testcase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `testcase` (
  `id` varchar(191) NOT NULL,
  `problemId` varchar(191) NOT NULL,
  `input` text NOT NULL,
  `expectedOutput` text NOT NULL,
  `isHidden` tinyint(1) NOT NULL DEFAULT 0,
  `explanation` text DEFAULT NULL,
  `timeLimitMs` int(11) NOT NULL DEFAULT 2000,
  `memoryLimitMb` int(11) NOT NULL DEFAULT 128,
  `order` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `TestCase_problemId_idx` (`problemId`),
  CONSTRAINT `TestCase_problemId_fkey` FOREIGN KEY (`problemId`) REFERENCES `codingproblem` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `testcase`
--

LOCK TABLES `testcase` WRITE;
/*!40000 ALTER TABLE `testcase` DISABLE KEYS */;
/*!40000 ALTER TABLE `testcase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `topic`
--

DROP TABLE IF EXISTS `topic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `topic` (
  `id` varchar(191) NOT NULL,
  `courseId` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `slug` varchar(191) NOT NULL,
  `parentTopicId` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Topic_courseId_slug_key` (`courseId`,`slug`),
  KEY `Topic_parentTopicId_fkey` (`parentTopicId`),
  CONSTRAINT `Topic_courseId_fkey` FOREIGN KEY (`courseId`) REFERENCES `course` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Topic_parentTopicId_fkey` FOREIGN KEY (`parentTopicId`) REFERENCES `topic` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `topic`
--

LOCK TABLES `topic` WRITE;
/*!40000 ALTER TABLE `topic` DISABLE KEYS */;
/*!40000 ALTER TABLE `topic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `passwordHash` varchar(191) NOT NULL,
  `role` enum('STUDENT','FACULTY','COUNSELLOR','HOD','HEAD','SUPER_ADMIN') NOT NULL DEFAULT 'STUDENT',
  `status` enum('ACTIVE','INACTIVE','SUSPENDED') NOT NULL DEFAULT 'ACTIVE',
  `emailVerified` tinyint(1) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `lastLoginAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`),
  KEY `User_email_idx` (`email`),
  KEY `User_role_idx` (`role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_profiles`
--

DROP TABLE IF EXISTS `user_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_profiles` (
  `userId` varchar(191) NOT NULL,
  `fullName` varchar(191) DEFAULT NULL,
  `phoneNumber` varchar(50) DEFAULT NULL,
  `avatarUrl` varchar(500) DEFAULT NULL,
  `bio` text DEFAULT NULL,
  `department` varchar(191) DEFAULT NULL,
  `designation` varchar(191) DEFAULT NULL,
  `officeLocation` varchar(191) DEFAULT NULL,
  `specialization` text DEFAULT NULL,
  `githubUrl` varchar(255) DEFAULT NULL,
  `linkedinUrl` varchar(255) DEFAULT NULL,
  `portfolioUrl` varchar(255) DEFAULT NULL,
  `skills` text DEFAULT NULL,
  `preferences` text DEFAULT NULL,
  `createdAt` datetime(3) DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) DEFAULT current_timestamp(3) ON UPDATE current_timestamp(3),
  PRIMARY KEY (`userId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profiles`
--

LOCK TABLES `user_profiles` WRITE;
/*!40000 ALTER TABLE `user_profiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_profiles` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-11  1:04:11
